/****************************/
/*        STYLEGUIDE        */
/****************************/
h1,h2,h3,h4,h5,h6,a,p,span {
	font-family: 'Rubik', sans-serif;
	color: white;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}
p {
	font-size: 14px;
  font-weight: 200;
}
a {
	text-decoration: none;
	color: inherit;
}
small {
	display: block;
	text-align: center;
	font-size: 16px;
}
body {
	background-image: linear-gradient(-15deg, #9D6883 0%, #62516C 30%, #61516C 30%, #4A4863 63%);
}
.content {
	max-width: 1002px;
	margin: 0 auto;
}
.underline {
	text-decoration: underline;
}

/****************************/
/*          HEADER          */
/****************************/
.header {
	padding: 0 2em;
	display: flex;
	margin: 25px auto;
	justify-content: space-between;
	align-items: center;
	/*background-image: linear-gradient(-15deg, #9D6883 0%, #62516C 30%, #61516C 30%, #4A4863 63%);*/
	/*box-shadow: 0 0 15px 0 rgba(0,0,0,0.21);*/
}
.header .logo {
	width: 45px;
	height: 45px;
	padding-right: .5em;
}
.header .logo.dark {
	display: none;
}
.header .left a {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.header h1 {
	font-family: 'Montserrat', sans-serif;
}
.header h2 {
	font-weight: 100;
	font-size: 28px;
}
.header .title {
	font-size: 28px;
}
.header .right {
/* Switch Toggle here */
}

/****************************/
/*        CURRENCIES        */
/****************************/
.container {
	width: 100%;
}
.currency {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 110px;
	margin-bottom: 15px;
	background-color: rgba(31,33,39,.40);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.21);
}
.currency .rank {
	  width: 80px;
    height: 100%;
    background-color: #5B6BC6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
}
.currency .rank h2{
	color: white;
	position: relative;
}
.currency .logo {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}
.currency .name {
	width: 175px;
	margin-right: 25px;
}
.currency .name .short {
	font-size: 24px;
	color: #797990;
}
.currency .price {
	margin-right: 40px;
	width: 120px;
}
.currency .price h2 {
	color: #F1A044;
}
.currency .change {
	margin-right: 40px;
}
.currency.up .change h2 {
	color: #38E86C;
}
.currency.up .change h2::before {
	content: url(../img/up.svg);
	display: inline-block;
	padding-right: 8px;
}
.currency.down .change h2{
	color: #FF3F57;
}
.currency.down .change h2::before {
	content: url(../img/down.svg);
	display: inline-block;
	padding-right: 8px;
	vertical-align: middle;
	padding-bottom: 4px;
}
.currency .label {
	color: #797990;
	font-size: 14px;
}
.currency .change, .currency .price {
	text-align: center;
}
.currency .market {
	text-align: center;
	margin-right: 40px;
}
.currency .market h2 {
	color: #5B6BC6;
}
.currency .volume {
	text-align: center;
}
.currency .volume h2 {
	color: #5B6BC6;
}

/****************************/
/*           ADS            */
/****************************/
.ad {
	padding: 35px;
	background-color: rgba(31,33,49,.25);
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.ad h3 {
	margin-bottom: 10px;
}
.ad .left {
	padding-right: 1.5em;
}

/****************************/
/*        SHOW MORE BUTTONS         */
/****************************/
.show-more {
	display: flex;
	justify-content: space-around;
	padding: 25px;
}
.button {
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
	padding: 15px 75px;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	color: white;
}
.button:hover {
	background-color: rgba(255,255,255,.25);
}

/****************************/
/*          FOOTER          */
/****************************/
.footer {
	padding: 25px;
	text-align: center;
	font-size: 14px;
}
.footer p {
	margin: 0;
	font-weight: 100;
}

/****************************/
/*          TOGGLE          */
/****************************/
input.switch {
  font-size: 5px;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  width: 9em;
  height: 4.6em;
  line-height: 4.6em;
  border-radius: 2.3em;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 0.2em #eee;
  outline: 1px solid transparent !important;
  cursor: pointer;
  border: none;
  background: transparent;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
  transition-delay: .1s, 0s;
  /* Animations if supported */
}
input.switch:checked {
  transition-delay: 0s, 0s;
  box-shadow: inset 0 0 0 2.62857em #5B6BC6 !important;
  padding-left: 4.4em;
}
input.switch.hit {
  animation: slide-off .35s ease both;
}
input.switch.hit:checked {
  animation: slide-on  .35s ease both .05s;
}
input.switch::before, input.switch::after {
  content: "";
}
input.switch::after {
  /* Increases hit area */
  position: absolute;
  top: -1.4em;
  left: -1.4em;
  bottom: -1.4em;
  right: -1.4em;
}
input.switch::before {
  display: inline-block;
  height: 4.2em;
  width: 4.2em;
  margin: 0.2em 0 0 0.2em;
  background-color: #fff;
  border-radius: 2.1em;
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  transition: all .1s ease .1s;
}
input.switch:active::before {
  transition: all .1s ease .05s;
}
input.switch.touch:hover::before {
  transition: all .0s ease .00s;
}
input.switch:active::before, input.switch.touch:hover::before {
  width: 5em;
}
input.switch:active:checked::before, input.switch.touch:hover:checked::before {
  margin-left: -0.6em;
}

@keyframes slide-on {
  0% {
    padding-left: 0em;
  }
  60% {
    padding-left: 4.8em;
  }
  100% {
    padding-left: 4.4em;
  }
}
@keyframes slide-off {
  0% {
    padding-left: 4.4em;
    text-indent: 0;
  }
  60% {
    padding-left: 0em;
    text-indent: -0.4em;
  }
  100% {
    padding-left: 0em;
    text-indent: 0;
  }
}

/****************************/
/*      LIGHT SKIN          */
/****************************/
body.light {
	background-image: -webkit-linear-gradient(bottom left, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);
	background-image: -o-linear-gradient(bottom left, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);
	background-image: linear-gradient(to top right, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);
}
/* HEADER */
.light .header {
	/*background-image: -webkit-linear-gradient(bottom left, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);*/
}
.light .header h1, .light .header .title {
	color: #434343;
}
.light .header .logo {
	display: block;
	width: 45px;
	height: 45px;
}
.light .header .logo.light {
	display: none;
}

/* CURRENCY */
.light .currency {
	background-color: rgba(255,255,255,.3);
}
.light .currency .rank {
	background-color: rgba(91,107,198, .5);
}
.light .currency .name .full {
	color: #5B6BC6;
}

/* BUTTON */
.light .button {
	color: #5B6BC6;
	border-color: #5B6BC6;
}

/* FOOTER */
.light .footer p {
	color: #5B6BC6;
}