.cc-ADC { color: #3CB0E5; }
.cc-AEON { color: #164450; }
.cc-AMP { color: #048DD2; }
.cc-ANC { color: #000; }
.cc-ARCH { color: #002652; }
.cc-ARDR { color: #1162a1; }
.cc-AUR { color: #136c5e; }
.cc-BANX { color: #225BA6; }
.cc-BAT { color: #9e1f63; }
.cc-BAY { color: #584ba1; }
.cc-BC { color: #202121; }
.cc-BCN { color: #964F51; }
.cc-BFT { color: #4fc3f7; }
.cc-BRK { color: #194fa0; }
.cc-BRX { color: #a8c300; }
.cc-BSD { color: #1186E7; }
.cc-BTA { color: #210094; }
.cc-BTC { color: #F7931A; }
.cc-BTCD { color: #2A72DC; }
.cc-BTS { color: #03A9E0; }
.cc-CLAM { color: #D6AB31; }
.cc-CLOAK { color: #DF3F1E; }
.cc-DAO { color: #FF3B3B; }
.cc-DASH { color: #1c75bc; }
.cc-DCR { color: #3b7cfb; }
.cc-DGB { color: #0066cc; }
.cc-DGD, .cc-DGX { color: #D8A24A; }
.cc-DMD { color: #5497b2; }
.cc-DOGE { color: #BA9F33; }
.cc-EMC { color: #674c8c; }
.cc-ERC { color: #101E84; }
.cc-ETC { color: #669073; }
.cc-ETH { color: #282828; }
.cc-FC2 { color: #040405; }
.cc-FCT { color: #2175BB; }
.cc-FLO { color: #1358C8; }
.cc-FRK { color: #0633cd; }
.cc-FTC { color: #679EF1; }
.cc-GAME { color: #ed1b24; }
.cc-GDC { color: #E9A226; }
.cc-GEMZ { color: #e86060; }
.cc-GLD { color: #E8BE24; }
.cc-GNO { color: #00A6C4; }
.cc-GNT { color: #00d6e3; }
.cc-GRC { color: #88A13C; }
.cc-GRS { color: #648FA0; }
.cc-HEAT { color: #ff5606; }
.cc-ICN { color: #4c6f8c; }
.cc-IFC { color: #ed272d; }
.cc-INCNT { color: #f2932f; }
.cc-IOC { color: #2fa3de; }
.cc-IOTA { color: #FFFFFF; }
.cc-JBS { color: #1A8BCD; }
.cc-KMD { color: #326464; }
.cc-KOBO { color: #80C342; }
.cc-KORE { color: #DF4124; }
.cc-LBC { color: #015C47; }
.cc-LDOGE { color: #ffcc00; }
.cc-LISK { color: #1A6896; }
.cc-LTC { color: #838383; }
.cc-MAID { color: #5492D6; }
.cc-MINT { color: #006835; }
.cc-MONA { color: #a99364; }
.cc-MRC { color: #4279bd; }
.cc-MSC { color: #1D4983; }
.cc-MTR { color: #b92429; }
.cc-MUE { color: #f5a10e; }
.cc-NBT { color: #FFC93D; }
.cc-NEOS { color: #1d1d1b; }
.cc-NEU { color: #2983c0; }
.cc-NLG { color: #003E7E; }
.cc-NMC { color: #6787B7; }
.cc-NOTE { color: #42daff; }
.cc-NVC { color: #ecab41; }
.cc-NXT { color: #008FBB; }
.cc-OK { color: #0165A4; }
.cc-OMNI { color: #18347E; }
.cc-OPAL { color: #7193AA; }
.cc-PIGGY { color: #F27A7A; }
.cc-PINK { color: #ED31CA; }
.cc-PIVX { color: #3b2f4d; }
.cc-POT { color: #105B2F; }
.cc-PPC { color: #3FA30C; }
.cc-QRK { color: #22AABF; }
.cc-RADS { color: #924cea; }
.cc-RBIES { color: #C62436; }
.cc-RBT { color: #0d4982; }
.cc-RBY { color: #D31F26; }
.cc-RDD { color: #ED1C24; }
.cc-REP { color: #40a2cb; }
.cc-RISE { color: #43CEA2; }
.cc-SAR { color: #1B72B8; }
.cc-SCOT { color: #3498DB; }
.cc-SDC { color: #981D2D; }
.cc-SIA { color: #00CBA0; }
.cc-SJCX { color: #003366; }
.cc-SLG { color: #5A6875; }
.cc-SLS { color: #1EB549; }
.cc-SNRG { color: #160363; }
.cc-START { color: #01AEF0; }
.cc-STEEM { color: #1A5099; }
.cc-STR { color: #08B5E5; }
.cc-STRAT { color: #2398dd; }
.cc-SWIFT { color: #428BCA; }
.cc-SYNC { color: #008DD2; }
.cc-SYS { color: #0098DA; }
.cc-TRIG { color: #1fbff4; }
.cc-TX { color: #1F8BCC; }
.cc-UBQ { color: #00ec8d; }
.cc-UNITY { color: #ED8527; }
.cc-USDT { color: #2CA07A; }
.cc-VIOR { color: #1F52A4; }
.cc-VNL { color: #404249; }
.cc-VPN { color: #589700; }
.cc-VRC { color: #418bca; }
.cc-VTC { color: #1b5c2e; }
.cc-WAVES { color: #24aad6; }
.cc-XAI { color: #2ef99f; }
.cc-XBS { color: #d3261d; }
.cc-XCP { color: #EC1550; }
.cc-XEM { color: #41bf76; }
.cc-XMR { color: #FF6600; }
.cc-XPM { color: #e5b625; }
.cc-XRP { color: #346AA9; }
.cc-XVG { color: #42AFB2; }
.cc-YBC { color: #D6C154; }
.cc-ZEC { color: #e5a93d; }
.cc-ZEIT { color: #ACACAC; }