.header {
	display: flex;
	justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 140px;
  margin: 0 auto;
	/*background-image: linear-gradient(-15deg, #9D6883 0%, #62516C 30%, #61516C 30%, #4A4863 63%);*/
	/*box-shadow: 0 0 15px 0 rgba(0,0,0,0.21);*/
}
.header .logo {
	width: 45px;
	height: 45px;
	padding-right: .5em;
}
.header .logo.dark {
	display: none;
}
.header .logo.light {
  background-image: none;
}
.header .left a {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.header h1 {
	font-family: 'Montserrat', sans-serif;
}
.header h2 {
	font-weight: 100;
	font-size: 28px;
}
.header .title {
	font-size: 28px;
}
.header .right {
/* Switch Toggle here */
}

.container {
	width: 100%;
}

/****************************/
/*           ADS            */
/****************************/
.ad {
	padding: 35px;
	background-color: rgba(31,33,49,.25);
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.ad h3 {
	margin-bottom: 10px;
}
.ad .left {
	padding-right: 1.5em;
}

/****************************/
/*        SHOW MORE BUTTONS         */
/****************************/
.show-more {
	display: flex;
	justify-content: space-around;
	padding: 25px;
}
.button {
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
	padding: 15px 75px;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	color: white;
}
.button:hover {
	background-color: rgba(255,255,255,.25);
}

.footer {
	padding: 25px;
	text-align: center;
	font-size: 14px;
}
.footer p {
	margin: 0;
	font-weight: 100;
}

/****************************/
/*      LIGHT SKIN          */
/****************************/
.light {
	background-image: linear-gradient(to top right, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);
}
/* HEADER */
.light .header {
	/*background-image: -webkit-linear-gradient(bottom left, #C3CFE2 0%, #DFE5EF 56%, #F5F7FA 100%);*/
}
.light .header h1, .light .header .title {
	color: #434343;
}
.light .header .logo {
	display: block;
	width: 45px;
	height: 45px;
}
.light .header .logo.light {
	display: none;
}

/* CURRENCY */
.light .currency {
	background-color: rgba(255,255,255,.3);
}
.light .currency .rank {
	background-color: rgba(91,107,198, .5);
}
.light .currency .name .full {
	color: #5B6BC6;
}

/* BUTTON */
.light .button {
	color: #5B6BC6;
	border-color: #5B6BC6;
}

/* FOOTER */
.light .footer p {
	color: #5B6BC6;
}